body {
    overflow-x: hidden;
}

#wrapper {
    min-height: 100vh;
}

#sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    flex: 1;
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    background-color: #495057 !important;
}
